<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Invoice</title>
    <script src="js/update_invoice.js"></script>
</head>
<body>
    <h1>Update Invoice</h1>
    <form id="updateInvoiceForm" method="post">
        <input type="hidden" id="invoiceId" name="id" value="">
        Invoice No.: <input type="text" id="invoiceNumber" name="invoice_num" value=""><br>
        Customer Name: <input type="text" id="customerName" name="name" value=""><br>
        Address: <input type="text" id="address" name="address" value=""><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
